.go2fit-logo {
  background-image: url('/images/logo_go2fit.png');
  background-size: cover;
  width: 170px;
  height: 80px;
}

.fitnessbus-logo {
  background-image: url('/images/logo_fitnessbus.png');
  background-size: cover;
  width: 106px;
  height: 32px;
}