.fitbus-social {
  $block: &;

  overflow: hidden;

  &_red {
    #{$block}__item {
      color: #dc2347;
    }
  }

  &__link {
    float: left;
    margin-right: 39px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item {
    width: 28px;
    height: 28px;
    background-color: #fff;
    color: #000;
    border-radius: 14px;
    text-align: center;
    line-height: 29px;

    &:hover {
      background-color: $fitbus;
    }

  }
}