.fitbus-btn {
  background-color: $fitbus;
  border-radius: 0;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-family: Roboto, serif;
  font-weight: 700;
  width: 260px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 0;
  display: inline-block;
  letter-spacing: 1px;

  &_spacing {
    letter-spacing: 3px;
  }
}