.fitbus-title {
  font-family: GloberBlack, Phenomena, sans-serif;
  color: $fitbus;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 3px;

  &_dark {
    color: #000;
  }

  &_uncap {
    text-transform: none;
  }

  @include tablet-mini {
    font-size: 35px;
  }
}