.fitbus-title {
  font-family: Phenomena, serif;
  color: $fitbus;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px;

  &_dark {
    color: #000;
  }

  &_uncap {
    text-transform: none;
  }

  @include tablet-mini {
    font-size: 35px;
  }
}