@import "inc/vars";
@import "inc/adaptive-mixins";
@import "inc/mixins";
@import "inc/fonts";
/**
 * Partials
 */
@import "partials/title";
@import "partials/subtitle";
@import "partials/text";
@import "partials/button";
/**
 * Blocks
 */
@import "blocks/social";
@import "blocks/logo";
@import "blocks/contact";
@import "blocks/logos";
@import "blocks/coach";
@import "blocks/step";
/**
 * Screens
 */
@import "screens/intro";
@import "screens/placeholder";
@import "screens/trainers";
@import "screens/steps";
@import "screens/location";
@import "screens/stream";
@import "screens/creators";

html, body {
  background: #000;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page, .content {
  height: 100%;
}

a:active {
  color: inherit;
}